* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
}

.no-scroll {
  overflow: hidden;
}

.no-scroll-content {
  height: 100%; /* Set the height of the content container */
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
